<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>
<body>
    <div class="container" style="text-align:center;">

        {% include 'navbar.html' %}

        <h1>The services that we provide</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus cumque atque illum, nisi consectetur voluptas tempore distinctio quasi porro obcaecati nihil eligendi est! Quia ipsum qui tenetur molestiae inventore, fugit adipisci! Ullam sed deleniti perferendis nobis quidem! Quasi consectetur nesciunt sequi mollitia natus corporis, provident reprehenderit debitis. Quibusdam, nulla atque.</p>
        <button>Contact Us</button>
    </div>
</body>
</html>